<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/AdminLTE.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-bootstrap-social.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-fullcalendar.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-select2.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/alt/AdminLTE-without-plugins.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/_all-skins.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/skin-black-light.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/admin-lte/2.4.2/css/skins/skin-black.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <title>exam</title>
    </head>
    <body class="skin-blue layout-top-nav">     
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class = "navbar-brand" href="/insertLesson"><b><%= user.nickname %>  Record</b></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </div>    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/insertLesson" class="btn btn-primary">回到課程</a></li>
                            <li><a href="/signout" class="btn btn-primary">登出</a></li>
                        </ul>       
                    </div>     
                </div>
            </nav>
        </header>     
        <br/>
        <!-- Left side column. contains the logo and sidebar -->
        <section id="lessonIntroduction">     
            <div class="container"> 
                <div class="box">   
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">課程列表</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>課程單元</th>
                                    <th>課程名稱</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr href="#">
                                        <th scope="row">1</th> 
                                        <td>animal</td> 
                                        <td>animal in the zoo</td>      
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-red">100%</span></td>              
                                    </tr>
                                    <tr href="#">
                                            <th scope="row">2</th> 
                                            <td>baby English</td> 
                                            <td>Counting number</td>      
                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge bg-red">80%</span></td>              
                                        </tr>
                                        <tr href="#">
                                                <th scope="row">3</th> 
                                                <td>baby English lesson 2</td> 
                                                <td>what's the color is ?</td>      
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-red">55%</span></td>              
                                            </tr>
                                            <tr href="#">
                                                    <th scope="row">4</th> 
                                                    <td>health</td> 
                                                    <td>when you get sick</td>      
                                                    <td>
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: 0%"></div>
                                                        </div>
                                                    </td>
                                                    <td><span class="badge bg-red">0%</span></td>              
                                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div> 
                <!-- /.box -->   
            </div>             
        </section>   
        <section class="barchart">
                <div class="container">
        
                  <!-- BAR CHART -->
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title">Bar Chart</h3>
                    </div>
                    <div class="box-body chart-responsive">
                            <div id="graph"></div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
        
                </div>
            </section>
    </body>
    <script>
    
        /*
     * Play with this code and it'll update in the panel opposite.
     *
     * Why not try some of the options above?
     */
    
      Morris.Bar({
        element: 'graph',
        data: [
          {x: 'test 1', A: 100, B: 0, C: 0, D: 0, F: 0},
          {x: 'test 2', A: 20, B: 20, C: 50, D: 0, F: 10},
          {x: 'test 3', A: 60, B: 0, C: 30, D: 10, F: 0},
          {x: 'test 4', A: 50, B: 40, C: 10, D: 0, F: 0},
          {x: 'test 5', A: 80, B: 0, C: 0, D: 10, F: 10},
    
        ],
        xkey: 'x',
        ykeys: ['A', 'B', 'C', 'D', 'F'],
        labels: ['一次對', '兩次才對', '提示一次', '提示二次', '完全不會'],
        stacked: true
      });
    
    </script>
    </html>
</html>